/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: #5676b0!important;
  transition: all 0.5s;
  -index: 997;
  ackground: rgba(0, 0, 0, 0.9)!important;
  eight: 80px;
  argin: 0 100%!important;
  ax-width: 1200px!important;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  height: 60px;
}

#header .logo {
  font-size: 34px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  padding-left: 10px;
  border-left: 4px solid #18d26e;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}