*{
  padding: 0;
  margin: 0;
  outline: 0;
}
body{
  ackground-color: black;

}
#allcon{
  border: 1px solid red;
}
#head{
  height: 100px;
  background-color: #1c2e51;
  color: #ffff;
  font-size: 20px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
#discrib,#comment{
  line-height: 45px;
}
#logo{
  height: 80px;
}
#headbox{
  border: 1px solid blue;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 10px;
}

#headbox>div{
  display: inline-block;
  order: 1px solid blue;
  height: 50px;
  overflow: hidden;
}
#logoimg{
   height: 50px;
  border-radius: 25px;
}
#discrib{
  margin-left: 30px;
  width: 40%;
  text-align: center;
  transition-duration: .5s;
  cursor: default;
}#discrib:hover{
  color: blue;
}
#comment{
  order: 1px solid red;
  Float: right;
  argin-right : 7%;
  transition-duration: .5s;
  cursor: pointer;
}#comment:hover{
  color: blue;
}
.border-start:hover{
  color: blue;
}
.nav-link:hover{
  color: blue!important;
}
.nav-link{
  color: white!important;
}
.ext-center{
  line-height: 10px;
}
#com{
  transition-duration: .5s;
  cursor: pointer;
  line-height: 40px;
}



#secondcon{
  /*margin: o auto;
  max-width: 1200px;
  background-image: url(../images/img.jpg);
  ackground-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3000px;
  z-index: -1;*/
/*  background-image: url(../images/img.jpg);*/
  background: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  argin-top: 80px;
}
#thirdcon{
  border: 1px solid blue;
  margin: 0 auto;
  max-width: 1000px;
  eight: 500px;
  background-color: #fef9;
  margin-top: 50px;
}
#step{
  order: 1px solid red;
  margin: 5px auto;
  padding: 20px 0;
  margin-left: 30px;
  font-size: px;
  box-shadow: 0 0.5px 3px 4px rgb(0,0,0,.3);
}#step:hover{box-shadow: none!important; }
#follow{
  border: 1px solid;
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
}
#stepnumber{
  rder: 1px solid;
  padding: 10px 0;
  width: 10%;
  text-align: center;
  cursor: initial;
  background-color: #9999;
}#stepnumber:hover{color: #1c2e51; background-color: unset; border: 1px solid #9999; border-radius: 50px; }

/*.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 98
}*/

#vedeocon{
  border: 1px solid blue;
  margin: 60px auto 0 auto;
  max-width: 1000px;
  text-align: center;
  background-color: #3737cc;
}
#vedeo{
  height: 400px;
  margin: auto 0% 0 0%;
  max-width: 100%;
}
#vedoetex{
  border: 1px solid;
  text-align: center;
  font-size: 30px;
  argin: 40px 0;
  color: #1c2e51;
}
#sugesbox{
  border: 1px solid red;
  height: 300px;
  background-color: red;
}





label {
  background-color: hsl(240deg, 20%, 50%);
  border-radius: 5px;
  color: #fff;
  padding: 0.5em 1em;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  
  &:has(:checked) {
    background-color: hsl(350deg, 60%, 50%);
  }
}
input{
  position: absolute;
  opacity: 0;
}

.text-effect-wrapper,
.text{
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}
.text-effect-wrapper{
  --spotlight-color: white;
  overflow: hidden;
  position: relative;

  &::before{
    animation: shimmer 5s infinite linear;
    background: radial-gradient(circle, var(--spotlight-color), transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, var(--spotlight-color), black 25%) 50% 50% / 12.5% 12.5%;
    inset-block-start: -100%;
    inset-inline-start: -100%;
    mix-blend-mode: color-dodge;
    z-index: 3;
  }

  &::after{
    backdrop-filter: blur(1px) brightness(90%) contrast(150%);
    z-index: 4;
  }
}
@keyframes shimmer{
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.text {
  --background-color: black;
  --text-color: white;
  --color-1: red;
  --color-2: blue;
  color: transparent;
  text-shadow: 0 0 0.02em var(--background-color), 
    0 0 0.02em var(--text-color),
    0 0 0.02em var(--text-color), 
    0 0 0.02em var(--text-color);

  &::before{
    backdrop-filter: blur(0.013em) brightness(400%);
    z-index: 1;
  }

  &::after{
    background: linear-gradient(45deg, var(--color-1), var(--color-2));
    mix-blend-mode: multiply;
    z-index: 2;
  }
}

body:has(#option-toggle:checked){
  & .text-effect-wrapper{
    --spotlight-color: orange;
    
    &::after{
      backdrop-filter: brightness(90%) contrast(150%);
    }
  }

  & .text{
    --angle: 5deg;
    --color-1: hsl(163, 100%, 51%);
    --color-2: hsl(295, 88%, 32%);
    --color-3: hsl(59, 100%, 50%);

    text-shadow: 0 0 0.03em var(--background-color), 0 0 0.03em var(--text-color);
    
    &::before{
      backdrop-filter: brightness(150%) contrast(200%);
    }

    &::after{
      background: linear-gradient(var(--angle), var(--color-1), var(--color-2), var(--color-3));
      mix-blend-mode: color-dodge;
    }
  } 
}
h1{
  --font-size: clamp(6.25rem, 3.25rem + 15vw, 13.75rem);
  font: 700 var(--font-size)/1 "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#text{
  font-size: 150px;
}

#fluid{
  background-color: #1c2e51;
}
.border-start{
  margin: 0 auto;
  max-width: 1050px;
}
#hhh{
  height: ;
}