#innercon{
    margin-top: 80px!important;
    
}
#innerform{
    text-align: center;
    max-width: 800px;
    margin: auto auto;
}
#theform{
    margin: 20px 0;
}#innerform:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#inputEmail,#inputPassword{
    height: 50px;
}#inputEmail:hover, #inputPassword:hover{
    background-color:  #e8f0fe;
}
#signin{
    margin: auto;
    height: 50px;
    width: 50%!important;
}
#btn{
    border: unset;
    border-radius: 5px;
    height: 50px;
    width: 50%;
}#btn:hover{
    background-color: #e8f0fe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}