@media(max-width: 355px){
	#menuhide{
		display: none!important;
	}
	.menu-wrap{
		display: none!important;
	}
	#listof{
		display: block!important;
	}

}
@media(max-width: 479px){
	#logomedia{
		margin-left: 3%!important;
	}
}
@media(max-width: 1115px){
	eader{
		max-width: 100%!important;
		isplay: flex;

	}
}